<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/estilos.css">
  </head>
  <body>
        <!-- Caixas que funcionam em linha (inline) e em bloco dependendo do caso
            inline funciona com espaçamento interno e margem lateral -->
        
        <a href="#" class="nome-empresa">DFS - Web</a>
        
        <!-- Na hora de renderizar o display: none oculta o elemento -->
        <a href="#" class="segmento-empresa" style="display: none">Cursos On-line</a>
        
        <p class="curso-html">HTML</p>
        <p class="curso-css">CSS</p>
        
        <!-- Inline-block é possível juntar sem espaços -->
        <p class="curso-php">PHP</p><p class="curso-bootstrap">BOOTSTRAP</p>

  </body>
</html>