/*Adicionando bordas */
/* Borda fina */

body {
	font-size: 32px;
}

p {
    text-align: justify;
	/*Largura da caixa é 500px*/
	width: 500px;
	border: 3px solid red;
	background-color: yellow;
	
	/*quando definimos o padding a largura aumenta
	mas continua ainda com os 500px, o padding é somado
	na largura*/
	padding: 20px 50px;
	padding-left: 200px;
	
}


